
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spring="http://jboss.org/xml/ns/javax/validation/mapping"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Produkty</h1>
<p>Dodawanie produktów</p>


    <form th:action="@{/add}" th:object="${newProduct}" method="post">
        <table border="1">
            <tr>
                <td><label>Id produktu</label></td>
                <td><input type="text" name="productId"/>
            </tr>
            <tr>
                <td><label>Nazwa</label></td>
                <td><input type="text" name="{name}" /></td>
            </tr>
            <tr>
                <td><label>Cena</label></td>
                <td><input type="number" name="*{price}" /></td>
            </tr>
            <tr>
                <td><label>Opis</label></td>
                <td><input type="text" name="*{description}" /></td>
            </tr>
            <tr>
                <td><label>Producent</label></td>
                <td><input type="text" name="*{manufacturer}" /></td>
            </tr>
            <tr>
                <td><label>Kategoria</label></td>
                <td><input type="text" name="*{category}" /></td>
            </tr>
            <tr>
                <td><label>Ilość sztuk w magazynie</label></td>
                <td><input type="number" name="*{unitsInStock}" /></td>
            </tr>
            <tr>
                <td><label>Ilość sztuk w zamówieniu</label></td>
                <td><input type="text" name="*{unitsInOrder}" /></td>
            </tr>

        </table>
        <p>
        <td>Stan produktu</td>
        <td><input type="checkbox" th:field="*{condition}" value="New" />Nowy</td>
        <td><input type="checkbox" th:field="*{condition}" value="Old" />Używany</td>
        <td><input type="checkbox" th:field="*{condition}" value="Refurbished" />Odnowiony</td>
        </p>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
        <p>
            <input type="submit" value="Potwierdź"/>
            <input type="reset" value="Resetuj">
        </p>
    </form>
</body>
</html>

