
<!DOCTYPE html>
<html %@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>EKE -Cosmetics </title>

    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/fontello.css"  th:href="@{/css/fontello.css}"type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet" media="screen" th:href="@{/css/main.css}"/>
    <script th:src="@{/resources/static/js/jquery.scrollTo.min.js}"></script>


    <script th:src="@{/webjars/angularjs/angular.js}"></script>



</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <li> <a th:href="@{/products}" class="tilelink">
                <h1 class="logo"> Eke - cosmetics </h1>
            </a> </li>
            <li> <a th:href="@{/products}" class="tilelink">Wszystkie produkty</a></li>
            <li> <a id="link1" th:href="@{/products/krem}">Kremy</a></li>
            <li> <a id="link2" th:href="@{/products/szampon}">Szampony</a></li>
            <li> <a id="link3" href="#">Koszyk</a></li>
            <li> <a th:href="@{/}" class="tilelink">O nas</a></li>

        </ul>
    </nav>

</header>
<main>

    <article>




        <div class="shop">
            <header>
                <h1> Witamy w sklepie Eke - cosmetics</h1>
                <p> U nas każdy znajdzie coś dla siebie!</p>
            </header>

</tr>
<img src="../static/images " width="180"
     th:src="@{/images/P{id}.jpg(id=${product.productId})}"/>
<p>
<p th:text="'Nazwa: '+ ${product.name} + ' '"></p>
<p th:text="' '+ ${product.description} + ' '"></p>
<p
        th:text= "'Kod ' + ${product.productId}"><span class="labellabel-warning">
        </span>
</p>
<p
        th:text= "'Producent ' + ${product.manufacturer}">
</p>

<p
        th:text= "'Kategotia ' + ${product.category}">
</p>
<p
        th:text= "'Liczba sztuk w magazynie ' + ${product.unitsInStock}">
</p>
<h4 th:text="'Cena '+ ${product.price} + ' PLN'"></h4>
<p ng-app="cartApp">
            >
    <a href="#" class="btn btn-warning btn-large" ngclick="addToCart('${product.productId}')">
        <span class="glyphicon-shopping-cart glyphicon"></span>
        Zamów teraz
    </a>
</p>
            <p  ng-controller="cartCtrl">>
                <a href="<spring:url value="./cart" />" class="btn btn-default">
                <span class="glyphicon-hand-right glyphicon"></span> Koszyk
                </a>
            </p>
<p>
    <a th:href="@{/products}" />
    <span class="glyphicon-hand-left glyphicon"></span> Wstecz
    </a>


</p>
</tr>
        </div>

    </article>

</main>

</body>
</html>
